$div_margin_top: 15px;
$div_margin_botton: 15px;
$font_family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$blue: darkblue;
$linergradient: linear-gradient(to left, aqua, rgb(85, 85, 160) );
$bgcolor: linear-gradient(235deg, beige , aqua) fixed;
$font_family_2: 'Courier New', Courier, monospace;

